SUPABASE_URL=
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inlhenljam5hZHZ1ZGhvYmR1dXlyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDQ3NjU2NCwiZXhwIjoyMTAwMDUyNTY0fQ.n8w-2y0F5Iv4yjyOGFTG6IT05rSmoHyJasrqS2tFbOg
GROQ_API_KEY=
GEMINI_API_KEY=
GITHUB_TOKEN=
GITHUB_USERNAME=SalmanMani86
PORTFOLIO_URL=https://salmanmani86.github.io/portfolio/
